flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"30044ed5.08fa72","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":140,"y":200,"wires":[["d1eaca18.52ce28"]]},{"id":"99882b43.d1f078","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":480,"y":200,"wires":[]},{"id":"d1eaca18.52ce28","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["99882b43.d1f078"]]}]