flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7f87af8e.3a6308","type":"mqtt-broker","z":"","name":"myBrokerConfig","broker":"localhost","port":"8883","tls":"64018621.001b6","clientid":"nodered","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"64018621.001b6","type":"tls-config","z":"","name":"myTLSconfig","cert":"","key":"","ca":"/Users/markargent/moreNodeRedWorkshop/en/part5/broker/certs/mqtt_ca.crt","certname":"","keyname":"","caname":"","servername":"localhost","verifyservercert":true},{"id":"30044ed5.08fa72","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":140,"y":200,"wires":[["d1eaca18.52ce28"]]},{"id":"99882b43.d1f078","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":480,"y":200,"wires":[]},{"id":"d1eaca18.52ce28","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["99882b43.d1f078"]]},{"id":"da2a9de2.8eb128","type":"mqtt in","z":"3af82246.3634ae","name":"","topic":"#","qos":"2","datatype":"json","broker":"7f87af8e.3a6308","x":170,"y":420,"wires":[["c54b2247.a65e9"]]},{"id":"c54b2247.a65e9","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":420,"wires":[]},{"id":"fa3da7f7.35bd48","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":300,"wires":[["17c37875.10b7a8"]]},{"id":"17c37875.10b7a8","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"time\" : $fromMillis($toMillis($now()),'[H]:[m]:[s]') }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[["f1873191.f6d6c"]]},{"id":"f1873191.f6d6c","type":"mqtt out","z":"3af82246.3634ae","name":"","topic":"time","qos":"","retain":"","broker":"7f87af8e.3a6308","x":490,"y":340,"wires":[]}]